.header {
    background: url("../images/background.jpg") no-repeat center;
    text-align: center;
    padding-top: 15%;
    padding-bottom: 15%;
    color: white;
    margin-bottom: 40px;
}

.developer {
    margin-bottom: 40px;
}

.developer h5 {
    margin-bottom: 10px;
}

.tags a {
    margin-right: 5px;
}

.tags form {
    display: inline-block;
}