.header {
    background: url("../images/background.jpg") no-repeat center bottom;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    color: white;
    margin-bottom: 40px;
}

.header h2 {
    background: rgba(0, 0, 0, 0.5);
}

.developer {
    margin-bottom: 40px;
}

.developer h5 {
    margin-bottom: 10px;
}

.tags a {
    margin-right: 5px;
}

.tags form {
    display: inline-block;
}